@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 200px;
}

.site-title, .logo {
    display: inline-flex; 
    font-family: var(--secondary-font);
}
.logo {
    width: 10rem;
}
.site-title {
    padding-top: 60px;
    font-size: 7rem;
}
.bar {
    border-bottom: 1px solid black;
}
form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px;
}
#inputSearch {
    padding: 12px 35vw;
    border-radius: 5px 0 0 5px;
}

.template {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px auto;
    max-width: 80%;

}

.template-img {
    display: flex;
    object-fit: contain;
    justify-items: flex-start;
    max-width: 40%;
    height: auto;
    margin: 15px;
}

.template-text {
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
}

h3 {
    width: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
h2 {
    color: #1B98E0;
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.attribution {
    align-content: end;

}
.social a {
    display: inline-flex;
    object-fit: contain;
    width: 50px;
}
